
<div class="container">
   <!-- <div *ngFor="let product of products | async"> 
<div class="row">
            <div class="card col-md-4" style="width: 18rem;">
                <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description }}.</p>
                <a href="#" class="btn btn-primary">Go somewhere </a>
                </div>
            </div>   
      </div>            
</div> -->
<!--{{ cardProduct.name }} --->
</div>
